.products-list {
    padding: 0;

    a {
        background-color: rgba(0, 0, 0, .7);
        font-size: 20px;
        padding: 20px;
        border-radius: 15px;
        transition: .3s ease-in-out;
        color: #fff;
        font-weight: 500;
        position: relative;

        p {
            display: inline-block;
            padding-right: 20px;
        }

        &:hover {
            transform: scale(1.1);
            color: #222;
            background-color: rgba(255, 255, 255, .6);
        }

        span {
            display: inline-block;
            text-align: center;
            line-height: 21px;
            width: 21px;
            height: 21px;
            background-color: red;
            color: #ffffff;
            border-radius: 50%;
            font-size: 16px;
            position: absolute;
            top: -7px;
            right: -6px;
        }
    }

    @media (max-width: 580px) {
        a {
            font-size: 16px;
            padding: 13px;

            p {
                padding-right: 12px;
            }

            span {
                line-height: 16px;
                width: 16px;
                height: 16px;
                font-size: 14px;
            }
        }
    }

    @media (max-width: 375px) {
        a {
            font-size: 14px;
            padding: 10px;
            border-radius: 8px;
        }
    }
}