header {
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px 0;
    }

    img {
        width: 180px;
        background-color: rgba(0, 0, 0, .7);
        border-radius: 15px;
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    @media (max-width: 580px) {
        div {
            padding: 20px 20px 0;
        }

        img {
            width: 120px;
        }
    }

    @media (max-width: 375px) {
        margin-bottom: 20px;

        img {
            width: 100px;
        }
    }
}