@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;

  body {
    background: url("/src/assets/bg-pizza-1.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

    main {
      padding: 30px;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
    }
  }
}